.jumbotron h1 {
	text-align: center;
}
.jumbotron {
	background-color:skyblue;
	padding-top: 0px;
	padding-bottom: 0px;

}
h1{
	text-align: center;
}
img{
	align-content: : left;
}
h2{
	text-align: center;
	font-size: 30pt;
}