body{
	font-size: Arial;
	margin: 0;
	padding: 0;
	padding-top: 50;
}

header{
 background-color:pink;
 min-height:50px;
 padding-top: 10px;
 border-bottom:5px solid #eee;
 color: white;
}

header #text-logo{
	float: left;
}

header #text-logo h1{
	margin: 0;
}
header h1{
	color: black;
}
header nav {
	float:right;
	padding-top: 10px;
}

header li {
	display: inline;
	padding: 0 20px 0 20px;
}

header a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
}

h3{
	text-align: center;
}
header a:hover{
	font-weight: bold;
}
ul{
	margin: 0;
	padding: 0;
}


.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#banner{
	min-height: 95vh;
	background: url('image/20.jpg');
	background-size: cover;
	width: 100%;
	text-align: center;
	color: black;
	margin: auto;
}


#banner h1{
	font-size: 55px;
	padding-top: 150px;
}

#banner p{
	font-size: 20px;
	color: black;
}

.tombol{
	color: black;
	border: 2px solid black;
	text-decoration: none;
	padding: 30px 70px;
	border-radius: 30px;
	font-weight: bold;
	background-color: pink;
}


.jarak-tombol{
	padding: 50px;
}

#fitur{
	padding-top: 50px;
	padding-bottom: 100px;
	
}

#fitur h1{
	text-align: center;
	color: #666;
	font-size: 55px;
	font-weight: bold;
}

#fitur .kotak{
	border: 2px solid #666;
	border-radius: 30px;
	width: 27%;
	text-align: center;
	padding: 10px;
	float: left;
	margin: 10px;
}

footer{
	text-align: center;
	background-color: #666;
	padding: 10px;
	color: white;
	}
.container-fluid{
	background-color: pink;
}
p{
	text-align: center;
}